<div class="flex min-h-[100dvh] flex-col items-center justify-center bg-[#f5f5f5] px-4 py-12 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg bg-white p-12 shadow-lg">
      <h1 class="text-2xl font-bold tracking-tight text-[#666666] text-center sm:text-4xl">Sign Up to Naas</h1>
      <p class="mt-4 text-muted-foreground text-center text-base">Use your Google Workspace email ID to sign up</p>
      <div class="mt-8">
        <div id="google-button"></div>
      </div>
        <p class="mt-4 text-muted-foreground text-center">Already have an account? <a href="/login" class="text-blue-500">Sign in</a></p>
    </div>
  </div>