<div class="h-screen flex flex-col">
    <app-header class="flex-none"></app-header>
    <div class="bg-background  shadow-lg rounded-lg flex-1">
        <div class="space-y-4">
        <div class="border-bottom-custom pb-2 p-8">
            <h1 class="text-2xl font-bold bg-white">Account Info</h1>
            <h3 class="bg-white secondary_text" >Your Account related information is stored here</h3>
        </div>
            <h3 class="bg-white secondary_text text-center  " >Company Name</h3>
            <div class="text-muted-foreground text-center">{{companyName$ | async}}</div>
        </div>
    </div>
</div>